<!DOCTYPE html>
<html>
<head>

<!-- Bootstrap Themes -->
<link href="static/css/lightGreen-blueGrey-b.css" rel="stylesheet" id="bootstrapTheme">
<link href="static/css/lightGreen-blueGrey-m.css" rel="stylesheet" id="mainTheme">
 
</head>

<body style="background-color:#FFF8DC;">
 <nav class="navbar navbar-inverse navbar-no-bg" role="navigation"  >
  <div class="container" >
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1" > <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand"  style="text-decoration:none; font-size:50px; color:#3399FF; " href="#">{{站名}}</a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        {%for x in href%}
        <li><a class="scroll-link" style="text-decoration:none; font-size:20px;"  href="/hello/{{x.link}}">{{x.name}}</a></li>
        {%endfor%}
      </ul>
    </div>
  </div>
</nav> 

<!-- company -->
<h2 class="lg-title" style="color:black;font-weight:bold; padding-top:60px; font-family:'幼圆';">合作企业</h2>
<p class="subtitle-v2 ">我们为您提供最优秀的合作企业</p>
<div class="container">
  <div class="panel-group" id="accordion">
   {%for x in ac%}
    <div class="panel panel-default" style="margin :0px 0px 20px 0px; border-radius:20px 20px 20px 20px;"> <a data-toggle="collapse" data-parent="#accordion" href="#{{x.id}}">
      <div class="panel-heading" 
    style="background:{% cycle '#F26849' '#F2E96D' %}; border-radius:20px 20px 0px 0px;">
        <h4 class="panel-title">
          <div class="row" style="font-weight:bold;font-family:'幼圆';
         color:{% cycle 'white' 'black'%}; border-radius:0px 0px 20px 20px; margin:0px 0px 20px 0px;">
            <div class="col-xs-4" >公司名称：{{x.name}} </div>
            <div class="col-xs-4">招聘职位：{{x.post}}</div>
            <div class="col-xs-4">薪资：{{x.money}} </div>
          </div>
        </h4>
      </div>
      </a>
      <div id="{{x.id}}" class="panel-collapse collapse in">
        <div class="panel-body" style="color:black;padding:1px;">
          <h5 class="title-sm-v2" style="font-weight: bold;color:black;">公司地址：北京中关村软件园</h5>
          <p class="text-muted" style="font-weight:bold; color:black;">岗位要求：</p>
          <ol>
            {{x.info}}
          </ol>
        </div>
      </div>
    </div>
    {%endfor%} </div>
</div>

<!--=== SCRIPTS ===--> 

<!-- JQUERY --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 

<!-- BOOTSTRAP --> 
<script src="static/js/bootstrap.js"></script>
</body>
</html>